body {
    background-color: lightgoldenrodyellow;
}
header {
    background-color: darkorange;
}
footer {
    background-color: burlywood;
}
table {
    border-color: orangered;
}
ul {
    vertical-align: bottom;
    text-align: center;
}
li {
    text-align: center;
    width: max-content;
}